body {
  padding: 0;
  margin: 0;
  font-family: "monteserrat", sans-serif;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: #3498db;
}
.app {
  text-align: center;
}
.btn-add,
.btn-remove {
  padding: 10px;
  background: #2980b9;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 10px;
}
.gift {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}
.input-person,
.input-present {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e74c3c;
}
.person-label,
.present-label {
  color: #3498db;
}
